<p>Project Name: <%= @project.name %><p>

<%# http://localhost:3000/projects/30/tasks/ %>
<%# render "task_wrap"%>
<%# render "list_frame"%>
<h1> Tasks Index Page </h1>
<div id="taskFrame">
	<div id="taskFrameInnerWrap">

	<%10.times do%>
    <% @tasks.each do |task| %>
      <div class="listFrame">
		<p><%= task.name %></p>
		<p><%= task.content %></p>
		<p><%= task.sequence %></p>
		<p><%= task.duedate %></p>
		<p><%= task.project_id %></p>
		<p><%= task.task_id %></p>
		
		<p><%= link_to 'Edit', edit_project_task_path(@project.id, task.id)%> </p>
<p><%= link_to 'Destroy', project_task_path(@project.id, task.id), method: :delete, data: { confirm: "Are you sure you want to delete '#{task.name}'?" } %></p>
		</div>
<% end %>
<% end %>

<ol class='example'>
  <li>First</li>
  <li>Second</li>
  <li>Third</li>
</ol>
<script src='js/jquery-sortable.js'></script>

<%= link_to "New Task", new_project_task_path %>

	</div>
	<div>make another list</div>
</div>

